<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/login">Poke-Api</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li *ngIf='hardcodedAuthenticationService.isUserLoggin()' class="nav-item active">
          <a class="nav-link" routerLink="/welcome/prueba" >Welcome <span class="sr-only">(current)</span></a>
        </li> 
        <li *ngIf='hardcodedAuthenticationService.isUserLoggin()' class="nav-item active">
          <a class="nav-link" routerLink="/list">Lists</a>
        </li>
      </ul>
      <ul class="navbar-nav  form-inline">
        <li *ngIf='!hardcodedAuthenticationService.isUserLoggin()' class="nav-item active">
          <a class="nav-link" routerLink="/login">Login <span class="sr-only">(current)</span></a>
        </li>
        <li *ngIf='hardcodedAuthenticationService.isUserLoggin()' class="nav-item active">  
          <a class="nav-link" routerLink="/logout">Logout</a>
        </li>
      </ul>
    </div>
  </nav>
