<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-6 col-sm-12 col-lg-6 col-xl-6">
      <br>
      <div class="card border-primary text-white bg-dark">

        <div class=" h3 card-header text-center "> Bienvenido</div>
        <div class="card-body form-group">
          <form (ngSubmit)="basicAuthenticationLogin()">
            <h3 class='font-weight-bold text-center'> Usuario</h3>
            <input  name="user" class="form-control" type="text" placeholder="Ingrese Usuario" [(ngModel)]="userName">
            <br>
            <h3 class='font-weight-bold text-center'> Contraseña</h3>
            <input name="pass" class="form-control" type="password" placeholder="Ingrese Contraseña" [(ngModel)]="password">
            <br>
            <div *ngIf='unValidation' class='alert alert-warning text-center'>{{errorMessage}}</div>
            <br>
            <button  (click)="basicAuthenticationLogin()" class="btn btn-primary btn-lg btn-block">Ingresar</button>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>