<div class="jumbotron text-center bg-light">
  <input class="form-control" type="text" placeholder="Ingrese Nombre" [(ngModel)]="sendName" />
  <hr />
  <a class="btn btn-primary btn-sm" (click)="handleClick()"><strong>{{ buttonName }}</strong></a>
  <p *ngIf="personalGretting" class="h2">{{ personalGretting }}</p>
</div>
<div *ngIf='todos.length>0' class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12">
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Nombre de Usuario</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Fecha</th>
            <th scope="col">Estado</th>
            <th scope="col">Actualizar</th>
            <th scope="col">Borrar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let todo of todos">
            <th scope="row">{{ todo.id }}</th>
            <td>{{ todo.userName }}</td>
            <td>{{ todo.description }}</td>
            <td>{{ todo.targetDate | date}}</td>
            <td>{{ todo.isDone}}</td>
            <td><button (click)='updateTodo(todo.id)' class="btn btn-warning">Update</button></td>
            <td><button (click)='deleteTodo(todo.username,todo.id)' class="btn btn-danger">Delete</button></td>
          </tr>
        </tbody>
        <button (click)="addingTodo()" class="btn btn-link">
          <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-clipboard-plus" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z" />
            <path fill-rule="evenodd"
              d="M9.5 1h-3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3zM8 7a.5.5 0 0 1 .5.5V9H10a.5.5 0 0 1 0 1H8.5v1.5a.5.5 0 0 1-1 0V10H6a.5.5 0 0 1 0-1h1.5V7.5A.5.5 0 0 1 8 7z" />
          </svg>
        </button>
      </table>

    </div>
  </div>
</div>
<br>