<div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-6 col-sm-12 col-lg-6 col-xl-6">
        <br>
        <div class="card border-primary text-white bg-dark border-primary">
          <div class=" h3 card-header text-center ">  Ha ingresado</div>
          <div class="card-body form-group bg-primary">
            <h3 class='font-weight-bold text-center'> Bienvenido {{name}} </h3>
          </div>
        </div>
      </div>
    </div>
  </div>