<div class="jumbotron text-center">
  <h1 class="display-3">Thank You for Visiting us!</h1>
  <p class="lead">We see you in the next requirement.</p>
  <hr />
  <p class="lead">
    <a class="btn btn-primary btn-sm" routerLink="" role="button"
      >Continue to homepage</a
    >
  </p>
</div>
