<br />
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-12 col-sm-12 col-lg-8 col-xl-8">
            <div class="border border-secondary abs text-center">
                <div class="form-group row">
                    <label for="username" class="col-md-2 col-sm-12 col-lg-2 col-xl-2 col-form-label">Username</label>
                    <div class="col-md-10 col-sm-12 col-lg-10 col-xl-10">
                        <input class="form-control" type="text" placeholder="Nombre de usuario" id="username"
                            [(ngModel)]="todo.userName" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="description"
                        class="col-md-2 col-sm-12 col-lg-2 col-xl-22 col-form-label">Descripción</label>
                    <div class="col-md-10 col-sm-12 col-lg-10 col-xl-10">
                        <input class="form-control" type="text" placeholder="Descripción" id="description"
                            [(ngModel)]="todo.description" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="date" class="col-md-2 col-sm-12 col-lg-2 col-xl-2 col-form-label">Fecha</label>
                    <div class="col-md-10 col-sm-12 col-lg-10 col-xl-10">
                        <input class="form-control" type="date" placeholder="Date" id="date"
                            [ngModel]="todo.targetDate |date: 'yyyy-MM-dd'" (ngModelChange)="todo.targetDate=$event" />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-2 col-sm-12 col-lg-2 col-xl-2 col-form-label" for="done">Estado</label>
                    <div class="col-md-10 col-sm-12 col-lg-10 col-xl-10">
                        <select class="form-control" id="done" [(ngModel)]="todo.isDone">
                            <option value="true">Realizado</option>
                            <option value="false">Sin Finalizar</option>
                        </select>
                    </div>
                </div>
                <div class="row justify-content-between">
                    <button (click)="updateTodo()" class="col-5 btn btn-success">Actualizar</button>
                    <button  (click)="returnPage()" class="col-5 btn btn-dark">Volver</button>
                </div>
            </div>
        </div>
    </div>
</div>
